.text-primary {
    color: #728dad !important
}

.bg-primary {
    background-color: #728dad !important

}

a {
    color: #728dad !important
}

.nav-link {
    color: #cad1d8 !important
}

.social-icon {
    color: #cad1d8 !important
}

.social-icon:hover {
    color: #728dad !important
}